.list_film {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list_film__title {
  font-size: 1.3rem;
  font-weight: 500;
}

.list_film__list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow: hidden;
}

/* swiper */

.swiper-button-next,
.swiper-button-prev {
  color: white;
}
