.film_detail {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.film_detail__hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.film_detail__hero__desc {
  width: 30%;
}

.film_detail__hero__action {
  display: flex;
  gap: 1rem;
}

.film_detail__desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.film_detail__desc__title {
  font-size: 1.3rem;
}
