.footer {
  width: 100%;
  background-color: black;
  color: #808080;
  font-size: 14px;
  bottom: 0;
}
.footer .container {
  padding: 30px 250px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 250px;
}
.footer .container section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.footer .container section span {
  margin-top: 20px;
  cursor: pointer;
}
.box {
  border: 1px solid #808080;
  padding: 8px;
}
