.navbar {
  background-color: black;
  color: #fff;
}
.navbar .container {
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.navbar .container .left {
  display: flex;
  align-items: center;
}
.navbar .container .left img {
  height: 44px;
  margin-right: 40px;
}
.navbar .container .left span {
  margin-right: 20px;
  cursor: pointer;
}
.navbar .container .right {
  display: flex;
  align-items: center;
}
.navbar .container .right img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  object-fit: cover;
}
.navbar .container .right span {
  margin-right: 20px;
  cursor: pointer;
}
